@model PLDatabaseFirstMVC.Models.Player

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr/>
  
    <div class = "card mb-3" style = "width: 300px;">
        <h4 class="card-header">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName) </h4>
         <img src = "@Url.Content(Model.PlayerImage)" width="300" height="300" />
         
         
        <div class = "card-body">
           
           
        <dl>
        <dt class = "card-title">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "card-subtitle">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "card-title">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "card-subtitle">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "card-title">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "card-subtitle">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "card-title">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "card-subtitle">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "card-title">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>
        <dd class = "card-subtitle">
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>
       
        <dd>
           <img src = "@Url.Content(Model.Club.CrestUrl)" width="60" height="60"  >
        </dd>
    </dl>
</div>
        </div>
    </div>
   
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayerId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
